@model IList<MyGarage.Data.Abstraction.Models.Car>
<table class="table">
    <thead></thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>

    <td>@item.Brand</td>
    <td>@item.Model</td>
    <td>@item.Power</td>
    <td>@item.Price</td>
    <td>@item.CreationYear</td>
    <td>@item.NbSeats</td>
                     </tr>

}
    </tbody>

</table>