@model MyGarage.Data.Abstraction.Models.Car
<tr>
    <td>
        @Html.DisplayFor(model => model.Brand)
    </td>
    <td>
        @Html.DisplayFor(model => model.Model)
    </td>
    <td>
        @Html.DisplayFor(model => model.CreationYear)
    </td>
    <td>
        @Html.DisplayFor(model => model.NbSeats)
    </td>
    <td>
        @Html.DisplayFor(model => model.Power)
    </td>
    <td>
        @Html.DisplayFor(model => model.Price)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a> |
        <button class="delete-car btn btn-danger" data-car-id="@Model.ID">Delete</button>
    </td>
</tr>
