@using MyGarage.Data.Abstraction.Models
@model MyGarage.Data.Abstraction.Models.Car
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="danger"></div>
<div class="form-group">
    <label asp-for="Brand" class="control-label"></label>
    <input asp-for="Brand" class="form-control"/>
    <span asp-validation-for="Brand" class="danger"></span>
    
    <label asp-for="Model" class="control-label"></label>
    <input asp-for="Model" class="form-control"/>
    <span asp-validation-for="Model" class="danger"></span>
  
    <label asp-for="Power" class="control-label"></label>
    <input asp-for="Power" class="form-control"/>
    <span asp-validation-for="Power" class="danger"></span>  
    
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control"/>
    <span asp-validation-for="Price" class="danger"></span>
    
    <label asp-for="NbSeats" class="control-label"></label>
    <input asp-for="NbSeats" class="form-control"/>
    <span asp-validation-for="NbSeats" class="danger"></span>
    
    <label asp-for="CreationYear" class="control-label"></label>
    <input asp-for="CreationYear" class="form-control"/>
    <span asp-validation-for="CreationYear" class="danger"></span>
    
    @* <a asp-action="Details" asp-route-id="@Car.ID">Details</a> | *@
    @* <a asp-action="Delete" asp-route-id="@Car.ID">Delete</a> *@
    
    <input type="submit" value="Create" class="btn btn-default"/>
</div>      
</form>

    </div>        
</div>
