@model IEnumerable<MyGarage.Data.Abstraction.Models.Car>
@{
    Layout = "_Layout";
}
<h2>All Cars</h2>
<a asp-area="Cars" asp-controller="Cars" asp-action="Create" class="btn btn-primary">Create Car</a>
<table class="table">
    <thead></thead>
    <th>
        @Html.DisplayNameFor(model => model.Brand)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Model)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CreationYear)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NbSeats)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Power)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Price)
    </th>
    <th>
        edit 
    </th>
    <tbody>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_CarDetails",item)
    }
    </tbody>
</table>
<h2>Cars View Component</h2>
    @(await Component.InvokeAsync("Car"))


@section Scripts
{
    <environment include="Development">
        <script type="text/javascript" src="~/js/DeleteCar.js"></script>
    </environment>
    <environment exclude="development">
        <script type="text/javascript" src="~/js/DeleteCar.min.js"></script>
    </environment>
}

